// Colors
$clr1: #515151;
$clr2: #5d5d5d;
$clr3: #535461;
$clr4: #b0b0b0;
$clr5: #f1f1f1;
$clr6: #ffffff;

// Breakpoints
$mobile-breakpoint: 500px;
$narrow-breakpoint: 920px;
$normal-breakpoint: 1920px;
$wide-breakpoint: 2560px;

// eColors
$eclr1: #3c48ff;
$eclr2: #f72585;
