.contact-page-container {
    height: 100%;
    padding: 10vh 0 5vh;
    @include for-narrow-layout {
        padding: 15vh 0 10vh;
    }

    .title {
        text-align: center;
        font-size: 3rem;
        text-decoration: underline;

        transition: 0.5s ease;
        transform: scale(0.1);
        opacity: 0;
    }

    form {
        * {
            outline: none;
            transition: 0.3s ease-out;
        }
        input {
            border: 0;
            margin-bottom: 10px;
            padding-left: 30px;
            height: 50px;
            width: 85%;
            border-radius: 2.5rem;

            transform: translateY(10vh);
            opacity: 0;
        }
        .text-send-wrapper {
            position: relative;
            width: 85%;

            transform: translateY(10vh);
            opacity: 0;
            textarea {
                border: 0;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
                    "Open Sans", "Helvetica Neue", sans-serif;
                padding: 20px 30px;
                width: 100%;
                height: 30vh;
                background-color: $clr6;
                border-radius: 2.5rem;
                resize: none;
                overflow: hidden;
            }
            .send {
                content: url("../../images/send.svg");
                position: absolute;
                width: 30px;
                height: 30px;
                right: 25px;
                bottom: 25px;
                cursor: pointer;
            }
        }

        @for $i from 1 through 2 {
            > :nth-child(#{$i}) {
                transition-delay: calc(#{$i} * 0.1s);
            }
        }
    }

    .social-link-wrapper {
        img {
            cursor: pointer;
            width: 40px;
            margin-right: 30px;

            transition: 0.6s ease;
            transition-delay: 0.5s;
            transform: scale(0);
        }
    }

    &.in-view {
        .title {
            transform: scale(1);
            opacity: 1;
        }

        form {
            * {
                transform: translateY(0);
                opacity: 1;
            }
        }

        .social-link-wrapper {
            img {
                transform: scale(1);
            }
        }
    }
}
