.portfolio-page-container {
    height: 100%;
    padding: 10vh 0;
    @include for-narrow-layout {
        padding: 15vh 0 10vh;
    }
    // justify-content: space-evenly;

    .title {
        text-align: center;
        font-size: 3rem;
        text-decoration: underline;
        transition: 0.5s ease;
        transform: scale(0.1);
        opacity: 0;
    }
    .projects-container {
        flex: 1;
        .projects-wrapper {
            flex: 1;
            @include for-narrow-layout {
                justify-content: space-between;
            }
            .project {
                transition: 0.7s ease;
                opacity: 0;
                transform: rotateY(90deg);
                display: none;
                img {
                    transition: 0.3s;
                    box-shadow: 0px 0px 18px -6px rgba($color: $clr1, $alpha: 0.5);
                    background-color: $clr6;
                    width: calc(40px + 50vw);
                    max-width: 300px;
                    height: calc(40px + 50vw);
                    max-height: 300px;
                    border-radius: 1.8rem;
                    object-fit: contain;
                    margin-bottom: 20px;
                    @include for-narrow-layout {
                        width: 20vw;
                        max-width: 300px;
                        height: 20vw;
                        max-height: 300px;

                        &:hover {
                            box-shadow: 0px 0px 18px -4px rgba($color: $clr1, $alpha: 0.7);
                            cursor: pointer;
                            transform: scale(1.07) translateY(-20px);
                        }
                    }
                }
                .label {
                    font-size: 1.5em;
                    text-align: center;
                }
                &.active {
                    display: flex;
                    animation: project-anim 0.6s;
                }
                @include for-narrow-layout {
                    display: flex;
                }
            }
            @for $i from 1 through 3 {
                > :nth-child(#{$i}) {
                    transition-delay: calc(#{$i} * 0.2s);
                }
            }
        }

        .arrow {
            width: 50px;
            font-size: 1.5rem;
            content: url(../../images/next.svg);
            align-self: flex-end;
            &:first-of-type {
                transform: rotateY(180deg);
            }
            @include for-narrow-layout {
                visibility: hidden;
            }
        }
    }

    &.in-view {
        .title {
            transform: scale(1);
            opacity: 1;
        }

        .projects-wrapper {
            .project {
                opacity: 1;
                transform: rotateY(0);
            }
        }
    }
}

@keyframes project-anim {
    from {
        transform: scale(0);
        opacity: 0.1;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
