.specialities-page-container {
    height: 100%;
    width: 100%;
    position: relative;
    padding: 80px 0 10vh;
    @include for-narrow-layout {
        padding: 15vh 0 10vh;
    }

    .title {
        text-align: center;
        font-size: 3rem;
        text-decoration: underline;
        // transition: 0.5s ease;
        transform: scale(0.1);
        opacity: 0;
        animation: title-anim 1s forwards;
    }

    .content-wrapper {
        height: 100%;
        width: 100%;
        max-width: $normal-breakpoint;
        .item-wrapper {
            max-width: 400px;
            height: fit-content;
            justify-content: center;
            margin: auto;
            width: 100%;
            display: none;

            &.active-item {
                display: flex;
                animation: item-anim 0.5s;
            }
            @include for-narrow-layout {
                width: 20vw;
                display: flex;
            }

            img {
                height: 40vw;
                max-height: 250px;
                margin-bottom: 20px;
                transform: scale(0.2);
                animation: scale1-anim 0.4s forwards;
                @include for-narrow-layout {
                    animation-delay: 0.4s;
                    height: calc(20px + 14vw);
                }
            }

            h4 {
                margin-bottom: 20px;
                font-size: 1.5rem;
                white-space: nowrap;
            }

            p {
                text-align: center;
                white-space: pre-line;
                line-height: 1.5rem;
                opacity: 0;
                animation: opacity1-anim 1s ease forwards;
                @include for-narrow-layout {
                    white-space: normal;
                    height: 10vw;
                    animation-delay: 0.5s;
                }
                @include for-normal-layout {
                    white-space: pre-line;
                }
            }
        }
    }

    .navigation-buttons-wrapper {
        margin: 0 auto;
        max-width: 400px;
        width: 100%;
        justify-content: space-evenly;

        button {
            // visibility: hidden;
            display: flex;
            background-color: $eclr1;
            color: $clr6;
            padding: 0.5em 1em;
            border: 0;
            border-radius: 2.5rem;
            box-shadow: 0px 4px 14px 0px rgba($color: $eclr1, $alpha: 0.3);
            font-weight: 600;
            outline: none;
            transition: 0.2s;
            &:active {
                background-color: $clr6;
                color: $eclr1;
                transform: scale(0.8);
            }
            @include for-narrow-layout {
                display: none;
            }
        }
    }
}

@keyframes title-anim {
    to {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes item-anim {
    from {
        opacity: 0;
        transform: scale(0.4);
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes scale1-anim {
    to {
        transform: scale(1);
    }
}
@keyframes opacity1-anim {
    to {
        opacity: 1;
    }
}
