.specialities-page-container {
    height: 100vh !important;
    width: 100%;
    position: relative;
    padding: 10vh 0;
    @include for-narrow-layout {
        padding: 15vh 0 10vh;
    }


    .title {
        text-align: center;
        font-size: 3rem;
        text-decoration: underline;
        transition: 0.5s ease;
        transform: scale(0.1);
        opacity: 0;
    }

    .content-wrapper {

        height: 100%;
        width: 100%;
        max-width: $normal-breakpoint;
        .item-wrapper {
            max-width: 400px;
            height: fit-content;
            justify-content: center;
            margin: auto;
            width: 20vw;
            @include for-mobile-layout {
                width: 100%;
                display: none;

                &.active-item {
                    display: flex;
                    animation: item-anim 1s;
                }
            }
            img {
                height: calc(20px + 14vw);
                max-height: 300px;
                margin-bottom: 20px;
                transition: 0.4s ease;
                transform: scale(0.2);
                // width: minmax(100px, 100%);
                @include for-mobile-layout {
                    // width: 70%;
                    height: 40vw;
                }
            }

            h4 {
                margin-bottom: 20px;
                font-size: 1.5rem;
            }

            p {
                text-align: center;
                white-space: pre-line;
                line-height: 1.5rem;
                transition: 0.5s ease;
                transition-delay: 0.1s;
                opacity: 0;
            }
        }
    }

    .navigation-buttons-wrapper {
        margin: 0 auto;
        max-width: 400px;
        width: 100%;
        justify-content: space-evenly;

        button {
            visibility: hidden;

            @include for-mobile-layout {
                visibility: visible;
                background-color: $eclr1;
                color: $clr6;
                padding: 0.5em 1em;
                border: 0;
                border-radius: 2.5rem;
                box-shadow: 0px 4px 14px 0px rgba($color: $eclr1, $alpha: 0.3);
                font-weight: 600;
                outline: none;
                transition: 0.2s;
                &:active {
                    background-color: $clr6;
                    color: $eclr1;
                    transform: scale(0.8);
                }
            }
        }
    }

    &.in-view {
        .title {
            transform: scale(1);
            opacity: 1;
        }
        .content-wrapper {
            .item-wrapper {
                img {
                    transform: scale(1);
                }
                h4 {
                    opacity: 1;
                }
                p {
                    opacity: 1;
                }
            }
        }
    }
}

@keyframes item-anim {
    from {
        transform: scale(0.2) translateY(50%);
    }
    to {
        transform: scale(1) translateY(0);
    }
}
