.main-container {
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    overflow: hidden;
    // height: 100vh;
    // position: relative;

    // @include for-narrow-layout {
    //     grid-template-columns:
    //     minmax(20px, 1fr)
    //     minmax(auto, $mobile-breakpoint)
    //     minmax(20px, 1fr)
    // }

    // @include for-narrow-layout {
    //     grid-template-columns:
    //     minmax(20px, 1fr)
    //     minmax(auto, $mobile-breakpoint)
    //     minmax(20px, 1fr)
    // }

    // @include for-normal-layout {
    //     grid-template-columns:
    //     minmax(20px, 1fr)
    //     // minmax(auto, $narrow-breakpoint)
    //     $narrow-breakpoint
    //     minmax(20px, 1fr)
    //     ;
    // }

    @include for-normal-layout {
        grid-template-columns:
            minmax(200px, 1fr)
            minmax(auto, $normal-breakpoint)
            minmax(200px, 1fr);
    }

    // @include for-normal-layout {
    // grid-template-columns: 200px 1fr 200px;
    // grid-template-columns:
    //     minmax(20px, 1fr)
    //     minmax(auto, $normal-breakpoint)
    //     minmax(20px, 1fr);
    // }

    > * {
        grid-column: 2;
        &.full {
            grid-column: 1 / -1;
        }
    }
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
}

// Animations

.transition-container{
    height: 100%;
}


.transition-page-container {
    height: 100%;

    &.fade-enter {
        position: absolute;
        opacity: 0;
        transform: translateY(var(--direction));
        overflow: hidden;
    }
    &.fade-enter-done {
        transform: translateY(0);
        transition: 0.3s ease-out;
        opacity: 1;
    }
    &.fade-exit-active {
        transition: 0.3s ease-in;
        opacity: 0;
        transform: scale(0.5) translateY(calc(var(--direction) * -3));
        @include for-narrow-layout {
            transform: scale(0.5) translateY(calc(var(--direction) * -4.5));
        }
    }
    &.fade-exit-done {
        display: none;
        position: absolute;
        width: 100%;
    }
}

